[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Qtesseract5
GenericName=IDX/SUB Converter
GenericName[fr]=Convertisseur IDX/SUB
Comment=Convert IDX/SUB files to SRT files
Comment[fr]=Convertisseur de fichiers IDX/SUB en fichiers SRT
Exec=qtesseract5 %U
Icon=qtesseract5
Categories=AudioVideo;AudioVideoEditing;
Terminal=false
StartupNotify=true
MimeType=text/plain; text/x-microdvd; text/x-mpsub; text/subviewer;
